.main-home {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 80px;
}

.banner {
    background-color: var(--verde);
    padding: 3rem 1rem;
    text-align: center;
    width: 100%;
    height: 230px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    font-size: 2.5rem;
}

.text-box{
    margin: 2px;
    color: var(--branco);
}

.produtos {

    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    background-color: var(--cinza-claro);
    width: 100%;
}

.produto {
    background: var(--branco);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.produto img {
    max-width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
}

.produto img:hover{
    zoom: 1.25;
    cursor: pointer;
}